<div class="tab-container">
  <mat-tab-group>
    <mat-tab label="First Tab">
      <div class="tab-content">
        <h3>First Tab Content</h3>
        <p>This is the content of the first tab.</p>
      </div>
    </mat-tab>
    <mat-tab label="Second Tab">
      <div class="tab-content">
        <h3>Second Tab Content</h3>
        <p>This is the content of the second tab.</p>
      </div>
    </mat-tab>
    <mat-tab label="Third Tab">
      <div class="tab-content">
        <h3>Third Tab Content</h3>
        <p>This is the content of the third tab.</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>